<div id = "navigation" style = "background-color:#E14638">
    &nbsp;
    <%=image_tag(current_user.image, :size => "40x40")%>
    <%= link_to image_tag("logo.png") , root_path %>
    
    
    <%= image_tag("spacer.png", :size => "830x40") %>

    <!--according to order notif, search doc, edit info, logout--> 
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/nav_searchdoc.png"), doctors_searchDoctor_path %>
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/nav_edit.png"), edit_user_path(current_user,:usertype => "patient") %>
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/nav_signout.png"), signout_path, id: "sign_out" %>

</div>