<table>  
  <tr> 
    <th></th> 
    <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Name</th>   
    <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Email</th> 
    <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Contact Number</th>  
  </tr>  
  <% @users.each do |user| %>
  <% doctor = Doctor.find_by_user_id(user.id) %>  
    <tr height = 50>  
      <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= image_tag(user.image) %></td>  
      <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%=  user.name %></td>
      <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= user.email %></td>  
      <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= user.contact_number %></td> 
      <td style ="font-size:14px; padding: 8px"><%= link_to image_tag("navigation/nav_viewsched.png"),  doctors_schedule_path(:id => doctor.id)%></td>
    </tr>  
  <% end %>  
</table>