<div class = "content">
  <%= render 'doctors/navbar' %>
  <div id="box-container-profile">
    <br><br><br><br>
      
      <% flash.each do |key,value| %>
          <div align="center" class="flash3"><%= value %></div>
      <% end %>

    <br><h2>Your Schedules</h2>
    <%= link_to image_tag("navigation/nav_addsched.png",:size => "165x35"), new_schedule_path %>
    <table  style = "margin-top:5px;">
        <tr style="background-color:#3399FF">
            <th width=80 style=" border-radius:6px; font-size:17px">Day</th>
            <th width=250 style=" border-radius:6px; font-size:17px">Clinic Name</th>
            <th width=250 style=" border-radius:6px; font-size:17px">Address</th>
            <th width=120 style=" border-radius:6px; font-size:17px">Start</th>
            <th width=120 style=" border-radius:6px; font-size:17px">End</th>
            <th width=120 style=" border-radius:6px; font-size:17px">Maximum Slots</th>
        </tr>
        <% @schedules.each do |schedule| %>
        <tr height = 50>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.day %></td>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.clinic_name %></td>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.address %></td>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.start_time.strftime("%I:%M %p") %></td>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.end_time.strftime("%I:%M %p") %></td>
        <td style ="background-color:lightblue; font-size:14px; padding: 8px"><%= schedule.max_slots %> slots</td>

        <td width=50 style ="background-color:#3399FF"><center><%= link_to image_tag("edit.png", :size => "20x20", :title => "Edit"), edit_schedule_path(schedule) %></center></td>
        <td width=50 style ="background-color:#3399FF"><center><%= link_to image_tag("delete.png", :size => "20x20", :title => "Delete Schedule"), schedules_remove_path(:id =>schedule.id),:confirm => "Are you sure?" %></center></td>
        </tr>
        <% end %>
    </table>
  </div>
</div>