<%= render 'doctors/navbar' %>

<div id="templatemo_main">
    <div id="content" >
    <%= image_tag("spacer.png", :size => "600x100") %> 
    <div class="section section_with_padding" id="index">
    	<h2>Add your Schedule</h2>  
        <div class="half left">
            <h4>Please fill up the boxes below.</h4>
            <div id="contact_form">
                <%= simple_form_for @schedule do |f| %>
                <%= f.input :day,:include_blank => false,:collection => [["Monday","Monday"],["Tuesday","Tuesday"],["Wednesday","Wednesday"],["Thursday","Thursday"],["Friday","Friday"],["Saturday","Saturday"],["Sunday","Sunday"],],input_html: {class: 'input_field_short'} %>
                <%= f.input :clinic_name,:placeholder => 'Enter clinic name...',input_html: {class: 'input_field_short'} %>
                <%= f.input :address,:placeholder => 'Enter clinic address...',input_html: {class: 'input_field_short'} %>
                <%= f.input :contact_num,:placeholder => 'Ex: 2731890',input_html: {class: 'input_field_short'} %>

                
            </div>
        </div>

          <div class="half right" >
                <h4 style = "color:white">.</h4>
                <div id="contact_form">
                    <strong>
                    <%= f.input :start_time,input_html: {class: 'input_field_bday'}, :ampm => true,:minute_step => 15 %>
                    <%= f.input :end_time,input_html: {class: 'input_field_bday'}, :ampm => true,:minute_step => 15%>
                    <%= f.input :max_slots,:placeholder => "Minimum = 5, Maximum = 20",input_html: {class: 'input_field_slot'} %>
                    <%= f.submit "Save",:class => "submit_btn"%>
                </div>
          </div>
        <% end %>
    </div>         
</div> 