<div class = "content">
  <%= render 'users/navbar' %>
  <div id="box-container-profile">
    <br><br><br><br>
      
      <% flash.each do |key,value| %>
          <div align="center" class="flash"><%= value %></div>
      <% end %>

    <br><h2>Your Notifications</h2>
    
    <% if @notifs.blank? %>
      <div align="center" class="flash">No notifications</div>
    <% else %>

    <table>   
      <% @notifs.each do |notif| %>
        <tr>  
          <td  width = 600 style ="background-color:#F75E70; border-radius:6px"> &nbsp; &nbsp;<%= notif.message %></td>
          <td width = 90 ><%= link_to image_tag("delete.png", :size => "20x20", :title => "Delete Notification"), notifications_remove_path(:id => notif.id), :confirm => "Delete Notification?" %></td>
        </tr>  
      <% end %>  
    </table>
    <% end %>

    <br>
    <br><h2>Your Reservations</h2>

    <% if @reservations.blank? %>
      <div align="center" class="flash">No reservations</div>
    <% else %>

    <br><br>
    <table>  
      <tr>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Date</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Doctor</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Clinic Name</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Clinic Address</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Contact Number</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Clinic Hours</th>
          <th style=" border-radius:6px; font-size:17px; background-color: #FF4D4D">Priority #</th>
      </tr> 
      <% @reservations.each do |res| %>
        <% 
          all = Reservation.where(:schedule_id => res.schedule.id,:reserved_date => res.reserved_date)
          rank = 0;
          all.each do |reserve| 
            rank +=1
            if reserve === res
              break;
            end
          end
        %>
    	  <tr height = 50>  
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= res.reserved_date.strftime("%B %d 20%y") %></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= res.schedule.doctor.user.name %></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= res.schedule.clinic_name %></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= res.schedule.address %></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><%= res.schedule.contact_num %></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><center><%= res.schedule.start_time.strftime("%I:%M%p")+" - "+res.schedule.end_time.strftime("%I:%M%p") %></center></td>
          <td style ="background-color:#FF8080; font-size:14px; padding: 8px"><center><%= rank %></center> </tr>  </td>
      <% end %>  
    </table>
    <% end %>
  </div>
</div>