<% @posts.each do |entry| %>
	<div class="post">
		<div class="box">
			<div class="clear"></div>
				<div class="frame">
					<div class="title-wrap"> 
						<h2 class="entry-title"><%= link_to entry.title, status_view_path(:id => entry.id) %></h2>
						<div class="title-meta">
							<span> by Administrator</span>
							<span> on <%= entry.created_at.strftime("%B %d %Y") %></span>
							<span><%= link_to "View Comments",status_view_path(:id => entry.id)+"#disqus_thread" %></span>
						</div>
					</div>	
					<div class="post-content">	
						<p><%= entry.body %> </p>
					</div>
				</div>
		</div>
	</div>	
<% end 					%>	
<center><img src="assets/loading.gif" id="loading-indicator" style="display:none;" /></center>
<div class="poste">
<%= ajax_will_paginate @posts, :page_links => false, :previous_label => '< Newer', :next_label     => 'Older >', :class => 'digg_pagination' %>
</div>

