<div class="container">
<div class="block clearfix">
<div class="grid-12 t-center">
<h1>Status</h1>

</div>
</div>
</div>
<div class="blockz inner body-container">
	<div class="section">

		<div class="block clearfix">
			<div class="container">
				<div class="grid-6">
					<div class="statusbox"> 
						<center>
							<% if @site %>
								<%= image_tag("website_live.png") %>
					          	<h2><small><strong>Site <br> ALIVE AND KICKIN!</strong></small></h2> 
					        <% else    %>
					          	<%= image_tag("website_live.png") %>
					          	<h2><small><strong>Site <br> DEAD. Status - <%= @x %></strong></small></h2>
					        <%  end   %>	
						</center>
					</div>
				</div>
				<div class="grid-6">
					<div class="statusbox">
						<center>
							<% if @server %>
								<%= image_tag("website_live.png") %>
					          	<h2><small><strong>Chat Server <br> ALIVE AND KICKIN!</strong></small></h2> 
					        <% else    %>
					          	<%= image_tag("website_live.png") %>
					          	<h2><small><strong>Chat Server <br> DEAD. Status - <%= @y %></strong></small></h2>
					        <%  end   %>
						</center>
					</div>
				</div>
				<br><br>
			</div>
		</div>
		<div class="container">
			<div class="grid-8">
				<% @feeds.each do |entry| %>
					<div class="post-940 post type-post status-publish format-standard hentry category-articles tag-customer-service-outsourcing">
						<div class="box">
							<div class="clear"></div>
								<div class="frame">
									<div class="title-wrap"> 
										<h2 class="entry-title"><%= link_to entry.title, entry.url %></h2>
										<div class="title-meta">
											<span> by <%= entry.author %> on <%= link_to entry.published.strftime("%B %-d, %Y"), entry.url %></span>
										</div>
									</div>	
									<div class="post-content">	
										<p><%= entry.summary %> <%= link_to "Read More >>",entry.url %></p>

									</div>
									<div class="bar">
										<div class="bar-frame clearfix">
											<div class="meta-info">
												<div class="share">
													<span class="bar-comment"><%= link_to "View Comments",entry.url+"/#disqus_thread" %></span>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				<% end 					%>	
			</div>
			<div class="grid-4">
				<div class="media-buttons">
					<p>media button, media button, media button, media button, media button, media button,</p>
				</div>
				<div class="greybox latest tweet">
					<h2 class="twitter-text"> twitter </h2>
					<!-- insert loop here -->
					<div class="tweet-box clearfix">

						<%= image_tag("tweet-avatar.png", :class=>"tweet-avatar") %>
						<p class="tweets"><%= image_tag("quote-left.png", :size=>"11x15") %>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elitd dfafasdfasdf sasd fasd ffsdf fsdfa ssdd </p><%= image_tag("quote-right.png", :size=>"11x15", :class=>"quote-right") %>
							
					</div>
					<!-- end loop here -->
				</div>
			</div>	
		</div>
	</div>
</div>


