<div class="container">
<div class="block clearfix">
<div class="grid-12 t-center">
<h1>Status</h1>

</div>
</div>
</div>
<div class="blockz inner body-container">
	<div class="section">

		<div class="block clearfix">
			<div class="container">
				<div class="grid-6">
					<div class="statusbox"> 
						<center>
							<% if @site %>
								<i class="ico-live"></i> 
								<%= image_tag("website.png") %>
					          	<h2><small><strong>Site <br> ALIVE AND KICKIN!</strong></small></h2> 
					        <% else    %>
					        	<i class="ico-down"></i> 
					          	<%= image_tag("website.png") %>
					          	<h2><small><strong>Site <br> DEAD </strong></small></h2>
					        <%  end   %>	
						</center>
					</div>
				</div>
				<div class="grid-6">
					<div class="statusbox">
						<center>
							<% if @server %>
								<i class="ico-live"></i> 
								<%= image_tag("server.png") %>
					          	<h2><small><strong>Chat Server <br> ALIVE AND KICKIN!</strong></small></h2> 
					        <% else    %>
					        	<i class="ico-down"></i> 
					            <%= image_tag("server.png") %>
					          	<h2><small><strong>Chat Server <br> DEAD </strong></small></h2>
					        <%  end   %>
						</center>
					</div>
				</div>
				<br><br>
			</div>
		</div>
		<div class="container" id="announcements">
			<div class="grid-8">
				<div>
					<h1>Announcements!</h1>
				</div>
				<% @posts.each do |entry| %>
					<div class="post-940 post type-post status-publish format-standard hentry category-articles tag-customer-service-outsourcing">
						<div class="box">
							<div class="clear"></div>
								<div class="frame">
									<div class="title-wrap"> 
										<h2 class="entry-title"><%= link_to entry.title, status_view_path(:id => entry.id) %></h2>
										<div class="title-meta">
											<span> by Administrator</span>
											<span> on <%= entry.created_at.strftime("%B %d at %I:%M %p") %></span>
										</div>
									</div>	
									<div class="post-content">	
										<p><%= entry.body %> </p>

									</div>
									<div class="bar">
										<div class="bar-frame clearfix">
											<div class="meta-info">
												<div class="share">
													<%= link_to "LINK", status_view_path(:id => entry.id) %>		
												</div>
												<div class = "categories">
													<span class="bar-comment">
														<%= link_to "View Comments",status_view_path(:id => entry.id)+"#disqus_thread" %>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				<% end 					%>	
			</div>
			<div class="grid-4 omega clearfix">
				<div class="greybox latest tweet">
					<h2 class="twitter-text"> Tweets </h2>
					<%# @tweets.each do|tweet| tweet.summary.slice! "offerchat: "%>

						<div class="tweet-box clearfix">
							<%= image_tag("tweet-avatar.png", :class=>"tweet-avatar") %>
							<p class="tweet"><%#= tweet.summary %></p>
						</div>
					<%# end %> 
					<div class = "clearfix">
						<%= link_to "Join the Conversation", "http://twitter.com/offerchat", :class =>"pull-right" %>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>


