<div class="container">
<div class="block clearfix">
<div class="grid-12 t-center">
<h1>Status</h1>

</div>
</div>
</div>
<div class="blockz inner body-container">
	<div class="section">
		<div class="block clearfix">
			<div class="container">
				<div class="grid-6">
					<div class="statusbox"> 
						<center>
							<% if @site_is_up %>
								<i class="ico-live"></i> 
								
								<%= image_tag("website.png") %>
					          	<h2><small><strong>Site <br> ALL SYSTEMS GO!</strong></small></h2> 
					        <% else    %>
					        	<i class="ico-down"></i> 
					          	<%= image_tag("website.png") %>
					          	<h2><small><strong>Site <br> DEAD </strong></small></h2>
					        <%  end   %>	
						</center>
					</div>
				</div>
				<div class="grid-6">
					<div class="statusbox">
						<center>
							<% if @server_is_up %>
								<i class="ico-live"></i> 
								<%= image_tag("server1.png") %>
					          	<h2><small><strong>Chat Server <br> ALL SYSTEMS GO!</strong></small></h2> 
					        <% else    %>
					        	<i class="ico-down"></i> 
					            <%= image_tag("server1.png") %>
					          	<h2><small><strong>Chat Server <br> DEAD </strong></small></h2>
					        <%  end   %>
						</center>
					</div>
				</div>
				<br><br>
			</div>
		</div>
		<div class="container" id="announcements">
			<div class="grid-8">
				<div>

					<h1>Announcements!</h1><br>
				</div>
				<% if @posts.blank? %>
					<div class="post">
						<div class="box">
							<div class="clear"></div>
								<div class="frame">
									<div class="title-wrap"> 
										<h3 class="entry-title"><center>There are no Announcements yet.</center></h3>
									</div>	
								</div>
						</div>
					</div>
				<% end %>	
				<% @posts.each do |entry| %>
					<div class="post">
						<div class="box">
							<div class="clear"></div>
								<div class="frame">
									<div class="title-wrap"> 
										<h2 class="entry-title"><%= link_to entry.title, status_view_path(:id => entry.id) %></h2>
										<div class="title-meta">
											<span> by Administrator</span>
											<span> on <%= entry.created_at.strftime("%B %d, %Y %I:%M %p") %></span>
											
										</div>
									</div>	
									<div class="post-content">	
										<p><%= entry.body %> </p>
									</div>
									<div class="commentview">
										<span><%= link_to "View Comments",status_view_path(:id => entry.id)+"#disqus_thread" %></span>
									</div>
								</div>
						</div>
					</div>	
				<% end 					%>	
			
			</div>
			<div class="grid-4 omega clearfix">
				<div class="lgreybox latest tweet">
					<h5 class="twitter-text">Latest Tweets <a href="https://twitter.com/offerchatstatus" class="twitter-follow-button" data-show-count="false" data-width="" data-lang="en">@offerchat</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></h5> 
					
					<%# @tweets.each do|tweet| tweet.summary.slice! "offerchat: "%>

						<div class="tweet-box clearfix">
							<%= image_tag("tweet-avatar.png", :class=>"tweet-avatar") %>
							<p class="tweet"><%#= tweet.summary %></p>
						</div>
					<%# end %> 
					<div class = "clearfix">
						<%= link_to "Join the Conversation", "http://twitter.com/offerchat", :class =>"pull-right" %>
						
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>


