<div id = "navigation" >
    &nbsp;
    <%=image_tag(current_user.image, :size => "40x40")%>
    <%= link_to image_tag("logo.png") , root_path %>
    
    <%= image_tag("spacer.png", :size => "680x40") %> 
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/viewCalendar.png"), doctors_schedule_path(:id => @doctor.id)%> <!--VIEW CALENDAR-->  
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/manageSchedule.png"), schedules_path %> <!--MANAGE SCHEDULE-->
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/nav_edit.png"), edit_user_path(current_user,:usertype => "doctor") %> <!--EDIT-->
    <%= image_tag("navigation/divider.png", :size => "5x37") %> 
    <%= link_to image_tag("navigation/nav_signout.png"), signout_path, id: "sign_out" %> <!--LOGOUT-->

</div>