<%= render 'doctors/navbar' %>

<div id="templatemo_main">
    <div id="content" >
    <%= image_tag("spacer.png", :size => "600x100") %> 
    <div class="section section_with_padding" id="index">
    	<h2>Edit Doctor Info</h2>  
        <div class="half left">
            <h4>Please fill up the boxes below.</h4>
            <div id="contact_form">
                <%= simple_form_for @doctor do |f| %>
                <%= f.input :ed_attainment,:placeholder => 'Enter educational attainment...',input_html: {class: 'input_field_short'}, :label =>"Educational Attainment" %>
                <%= f.input :specialization,:placeholder => 'Enter specialization...',input_html: {class: 'input_field_short'} %>
                <%= f.input :office_address,:placeholder => 'Enter address...',input_html: {class: 'input_field_short'} %>
                <%= f.input :office_contact,:placeholder => 'Ex: 2731890' ,input_html: {class: 'input_field_short'} %>
                <%= f.input :user_id,:as => :hidden,:input_html => {:value => current_user[:id]} %>
                <%= f.submit "Save",:class => "submit_btn"%>
            </div>
        </div>

          <div class="half right" >
                <h4 style = "color:white">.</h4>
                <div id="contact_form">
                    
                </div>
          </div>
        <% end %>
    </div>         
</div> 