<% if current_user.usertype === "patient" %>
	<%= render 'users/navbar' %>
<% else %>
	<%= render 'navbar' %>
<% end %>
<div class = "content">	
	
	<br><br><br><br>
	<% flash.each do |key,value| %>
      <div align="center" class="flash2"><%= value %></div>
    <% end %>
    <br><br><br>
		<center><h2>Doctor <%= @doctor.user.name %> 's Schedule</h2>
		Legend:<br>
		<%= image_tag "full.png", :size => "20x20" , :title => "Already FULL!!" %> = No slots available. &nbsp; &nbsp;&nbsp;
		<%= image_tag "empty.png", :size => "20x20", :title => "Has available slots."%> = Has available slots.
		</center>
		<br>
		<div id="calendar">
			<h2 id="month">
				<% if @sked %>
			    	<%= link_to image_tag("prev.png",:size => "30x30"), :month => (@date.beginning_of_month-1).strftime("%Y-%m-01"), :id => @doctor.id, :c_name => @sked.clinic_name %>
			    	<%= h @date.strftime("%B %Y") %>
			    	<%= link_to image_tag("next.png",:size => "30x30"), :month => (@date.end_of_month+1).strftime("%Y-%m-01"), :id => @doctor.id, :c_name => @sked.clinic_name %>
		    	<% else %>
		    		<%= link_to image_tag("prev.png",:size => "30x30"), :month => (@date.beginning_of_month-1).strftime("%Y-%m-01"), :id => @doctor.id %>
			    	<%= h @date.strftime("%B %Y") %>
			    	<%= link_to image_tag("next.png",:size => "30x30"), :month => (@date.end_of_month+1).strftime("%Y-%m-01"), :id => @doctor.id %>
		    	<% end %>
		  	</h2>
			<%= calendar_for(@schedules, :month => @date.month) do |r| %>
			  <%= r.head('Sunday','Monday','Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>


			  <%= r.day do |day| %>
			    
			    <% if @sked %>
			    	<% sched = Schedule.where("doctor_id = ? AND day = ? AND clinic_name = ?", @doctor.id, day.strftime("%A"),@sked.clinic_name) %>
			    <% else %>
			    	<% sched = Schedule.where("doctor_id = ? AND day = ?", @doctor.id, day.strftime("%A")) %>
			    <% end %>

			    <%= day.day %>

			    <% if day.month === @date.month %>

			    <table>
			    <% sched.each do |s| %>
			    	<% rday = Date.parse(@date.year.to_s+"-"+@date.month.to_s+"-"+day.day.to_s) %>
			    	<% exist = Reservation.where("schedule_id = ? AND user_id = ? AND reserved_date = ?",  s.id, current_user.id, rday).count() %>
			    	<% count = Reservation.where("schedule_id = ? AND reserved_date = ?" , s.id, rday).count() %>
			  
			    	<tr>
			    		<% if current_user.usertype === "patient" %>
				    		<% if exist === 1 %>
				    		<td style = "height:20px;font-size:13px;border: none; background-color:transparent"><%= s.start_time.strftime("%I:%M%p")+" - "+s.end_time.strftime("%I:%M%p") %></td>
				    		<% else %>
				    			
				    			<% if s.max_slots - count <= 0 %>
				    			<td style = "height:20px;font-size:13px;border: none; background-color:transparent"><%= s.start_time.strftime("%I:%M%p")+" - "+s.end_time.strftime("%I:%M%p") %></td>
				    			<% else %>
				    			<td style = "height:20px;font-size:13px;border: none; background-color:transparent"><%= button_to (s.start_time.strftime("%I:%M%p")+" - "+s.end_time.strftime("%I:%M%p")), {:controller => 'reservations', :action => "create" , :schedule_id => s.id, :user_id => current_user.id, :date => rday},:class => 'buttonTo',:title => "Click to Reserve",:confirm => "Confirm Reservation?", :method => :post %></td>
				    			
				    			<% end %>
				    		  	
				    		<% end %>
				    	<% else %>
				    		<td style = "height:20px;font-size:13px;border: none; background-color:transparent"><%= link_to s.start_time.strftime("%I:%M%p")+" - "+s.end_time.strftime("%I:%M%p"),reservations_view_path(:schedule_id => s.id, :reserved_date => rday), :title => "Click to View List" %></td>
				    	<% end %>
				    	<% if s.max_slots - count <= 0 %>
		    				<td style = "height:20px;font-size:13px;border:none; background-color:transparent"><%= image_tag "full.png", :size => "20x20" , :title => "Already FULL!!" %></td>
		    			<% else %>
		    				<td style = "height:20px;font-size:13px;border:none; background-color:transparent"><%= image_tag "empty.png", :size => "20x20", :title => "Has available slots."%></td>
		    			<% end %>
			    		
			    	</tr>
			    <% end %>
			    </table>
			    <% end %>
			    
			  <% end %>
			<% end %>
		</div>
</div>
