<header class=''>
	<div class='container'>
		<div class='grid-3'>
			<%= link_to image_tag("logo.png"), 'https://www.offerchat.com/' %>
			<p class='visible-phone t-center'>
				<%= link_to image_tag("logo.png"), 'https://www.offerchat.com/' %>
			</p>
		</div>
		<div class='grid-9'>
			<nav class='right menu'>
				<ul>
					<li>
						<%= link_to "Why is Offerchat Free?", "http://blog.offerchat.com/why-is-offerchat-live-chat-app-free/" %>
					</li>
					<li>
						<%= link_to "Hire an Agent", 'https://www.offerchat.com/hire-agent' %>
					</li>
					<li>
						<%= link_to "Log in", 'https://www.offerchat.com/login', :class => 'btn' %>
					</li>
					<li>
						<%= link_to "Sign Up FOR FREE", 'https://www.offerchat.com/signup', :class => 'btn btn-primary' %>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>