<!DOCTYPE html>
<html>
<head>
  <title>Offerchat Status</title>

  <%= favicon_link_tag %>

  <%= stylesheet_link_tag "application", :media => "screen" %>
  <%= csrf_meta_tags %> 

  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' %>

  <!--start of Offerchat js code-->
	<script type='text/javascript'>var ofc_key = '4e36e7e78fb24c30cce16c6b8e8e688a';(function(){  var oc = document.createElement('script'); oc.type = 'text/javascript'; oc.async = true;  oc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.offerchat.com/offerchat_widget.min.js?r='+ Math.random();  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(oc, s);}());</script>
  <!--end of Offerchat js code-->
</head>
<body>
	
  <%= render :file => '/layouts/_header' %>

  <%= yield %>


  <%= render :file => '/layouts/_footer' %>

</body>
</html>
